In [1]:
import numpy as np
import pandas as pd

In [3]:
data_train = pd.read_csv('Data_Train.csv')
print data_train['Name'].nunique()

1876

In [4]:
cars = list(data_train['Name'].unique())

In [5]:
#converting the names of cars from strings to numbers 
d = {}
i = 1
for j in cars:
    d[j] = i;
    i += 1;
data_train['Name'].map(d).astype(int)

0          1
1          2
2          3
3          4
4          5
5          6
6          7
7          8
8          9
9         10
10        11
11        12
12        13
13        14
14        15
15        16
16        17
17        18
18        19
19        20
20        21
21        22
22        23
23        24
24        25
25        26
26         7
27        27
28        28
29        29
        ...
5989    1591
5990    1871
5991      53
5992     165
5993    1872
5994    1337
5995    1846
5996     447
5997    1873
5998    1874
5999    1875
6000     979
6001     632
6002      34
6003     419
6004    1283
6005     115
6006    1411
6007     633
6008    1245
6009     629
6010     275
6011    1252
6012      29
6013     199
6014      53
6015      48
6016    1876
6017     203
6018     693
Name: Name, Length: 6019, dtype: int64

In [6]:
loca = list(data_train['Location'].unique())

In [11]:
l = {}
i = 1
for cl in loca:
    l[cl] = i
    i += 1
print data_train['Location'].isnull().sum()
data_train['Location'].map(l).astype(int)

0

0        1
1        2
2        3
3        3
4        4
5        5
6        6
7        1
8        2
9        3
10       7
11       8
12       6
13       9
14       2
15       9
16       7
17       6
18       7
19      10
20       7
21      10
22       1
23       8
24       8
25       1
26       5
27       5
28       7
29       1
        ..
5989     4
5990     2
5991     5
5992     1
5993     1
5994     2
5995     2
5996     7
5997     6
5998     2
5999     3
6000    10
6001     7
6002     1
6003    10
6004     4
6005     2
6006     1
6007     9
6008     5
6009     1
6010     9
6011     5
6012     4
6013     4
6014     9
6015     6
6016     6
6017     8
6018     5
Name: Location, Length: 6019, dtype: int64

In [12]:
fuel = {}
trans = {}
own = {}
t = list(data_train['Transmission'].unique())
o = list(data_train['Owner_Type'].unique())
f = list(data_train['Fuel_Type'].unique())

i = 1
for cl in f:
    fuel[cl] = i
    i += 1
print data_train['Fuel_Type'].isnull().sum()
data_train['Fuel_Type'].map(fuel).astype(int)

l = {}
i = 1
for cl in o:
    own[cl] = i
    i += 1
print data_train['Owner_Type'].isnull().sum()
data_train['Owner_Type'].map(own).astype(int)

l = {}
i = 1
for cl in t:
    trans[cl] = i
    i += 1
print data_train['Transmission'].isnull().sum()
data_train['Transmission'].map(trans).astype(int)

0
0
0

0       1
1       1
2       1
3       1
4       2
5       1
6       1
7       2
8       1
9       1
10      1
11      2
12      1
13      2
14      2
15      1
16      1
17      1
18      1
19      2
20      2
21      1
22      2
23      1
24      2
25      1
26      1
27      1
28      1
29      1
       ..
5989    2
5990    1
5991    1
5992    2
5993    1
5994    1
5995    1
5996    2
5997    1
5998    1
5999    1
6000    1
6001    2
6002    1
6003    1
6004    1
6005    1
6006    2
6007    1
6008    2
6009    2
6010    1
6011    2
6012    1
6013    1
6014    1
6015    1
6016    1
6017    1
6018    1
Name: Transmission, Length: 6019, dtype: int64

In [13]:
for cl in data_train.columns:
    print cl,type(data_train[cl][0])

Name <type 'str'>
Location <type 'str'>
Year <type 'numpy.int64'>
Kilometers_Driven <type 'numpy.int64'>
Fuel_Type <type 'str'>
Transmission <type 'str'>
Owner_Type <type 'str'>
Mileage <type 'str'>
Engine <type 'str'>
Power <type 'str'>
Seats <type 'numpy.float64'>
New_Price <type 'float'>
Price <type 'numpy.float64'>

In [14]:
data = {}
cnt = 0
for i in range(0,6019):
    if(type(0.0) != type(data_train['Engine'][i])):
        data[data_train['Name'][i]] = data_train['Engine'][i]
    else:
        print data_train['Engine'][i]
temp = [1248,4367,1298,1197,3630,1197,1086,1248,2100,999,1197,2345,1248,1086,1172,1368]
k = 0
print len(cars),len(data.keys())
for i in cars:
    if i not in data.keys():
        k += 1
eng = {}

nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
1876 1860

In [111]:

for i in range(0,6019):#data_train['Engine']:
    if(type(1.0) == type(data_train['Engine'][i])):
            data_train['Engine'][i] =  data[data_train['Name'][i]]
    else:
        print data_train['Engine'][i]#.split()
        data_train['Engine'][i] = float(j[0])

998 CC

ValueError: could not convert string to float: M

In [108]:
#Mileage <type 'str'>
#Power <type 'str'>
data1 = {}
data2= {}
cnt = 0
for i in range(0,6019):
    if(type(0.0) != type(data_train['Power'][i])):
        data1[data_train['Name'][i]] = data_train['Power'][i]
    if(type(0.0) != type(data_train['Mileage'][i])):
        data2[data_train['Name'][i]] = data_train['Mileage'][i]
mil = [84,557.86,100,82,241.4,74,82,84,188,55,82,67,118,91.7,63,67,88.7]
k = 0
for i in cars:
    if i not in data1.keys():
        data1[i] = k
        k += 1
print "-----------------------------"
for j in cars:
    if j not in data2.keys():
        print j

Maruti Swift 1.3 VXi
Land Rover Range Rover 3.0 D
Honda City 1.3 DX
Maruti Swift 1.3 ZXI
Land Rover Range Rover Sport 2005 2012 Sport
Maruti Swift 1.3 LXI
Hyundai Santro LP zipPlus
Maruti Swift 1.3 VXI ABS
BMW 5 Series 520d Sedan
Hyundai Santro GLS II - Euro II
Maruti Wagon R Vx
Honda CR-V AT With Sun Roof
Fiat Punto 1.3 Emotion
Hyundai Santro Xing XG
Fiat Punto 1.2 Dynamic
Fiat Punto 1.4 Emotion
-----------------------------
Mahindra E Verito D4
Toyota Prius 2009-2016 Z4

In [123]:
for j in data_train.columns:
    print data_train[j].isnull().sum(),j

0 Name
0 Location
0 Year
0 Kilometers_Driven
0 Fuel_Type
0 Transmission
0 Owner_Type
2 Mileage
0 Engine
36 Power
42 Seats
5195 New_Price
0 Price